body{
	width: 100%;
	background-color: lightblue;
	font-size: 40px;
}

.textbox{
	border-radius: 50px;
	background-color: lightgrey;
	width: 95%;
	height: 130px;
	font-size: 70px;
	text-align: center;
}

.button{
	border-radius: 50px;
	background-color: #6699FF;
	width: 95%;
	height: 110px;
	font-size: 70px;
}

.bubble{
	border-radius: 50px;
	background-color: lightgreen;
	width: 95%;
	font-size: 50px;
}

.spacer{

}